@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri:700|Cedarville+Cursive|Merienda|News+Cycle:700|Spectral:500|Taviraj|Teko:500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: white;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

.leftSidebar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: #f6f6f6;
  margin: auto;
  height: 100%;
  padding: 2rem 0;
  background-color: #00072d;
  flex: 1;
  padding: 2rem 1rem;
}

.leftSidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.leftSidebar ul li {
  padding: 1rem;
}

.leftSidebar ul li a {
  text-decoration: none;
}

.leftSidebar ul li a:hover {
  color: coral;
}

.item {
  flex: 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a6e1fa;
  height: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

.projects {
  flex: 3;
  color: #0e6ba8;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a6e1fa;
  height: 100%;
  margin: auto;
}

.media-container {
  flex: 1;
  color: #0e6ba8;
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: #a6e1fa;
  height: 100%;
  width: 100%;
  margin: auto;
}

.media {
  flex: 1;
  color: #0e6ba8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #a6e1fa;
  margin: auto;
}

.picture {
  border-radius: 50%;
  width: 11rem;
  flex: 3;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #a6e1fa;
  margin: auto;
}

.mainContent {
  height: 100%;
  margin-left: 14.2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 4;
  color: white;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(90deg, hsl(219, 97%, 17%), hsl(219, 97%, 17%));

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-align: start; */
}

.project-details {
  padding: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-details h2 {
  margin: 0.3rem 2rem;
  text-align: left;
  color: white;
}

.project-details h5 {
  text-align: left;
  font-size: 1.4rem;
  margin: 1.5rem 2rem;
}

.project-details li {
  text-align: left;
  margin: 0px 2rem;
}

section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  height: 100vh;
  width: 100%;
}

section .description-top {
  box-shadow: 3px 3px 18px rgb(54, 41, 54, 0.7);
  border: 1px solid;
}

section .description-bottom {
  border-radius: 0px 0px 2rem 2rem;
  box-shadow: 3px 3px 18px rgb(54, 41, 54, 0.7);
}

section .chess-top {
  background-image: linear-gradient(rgba(23, 45, 77, 1), rgba(23, 45, 77, 1));
  border-left-color: rgb(116, 193, 238);
  border-right-color: rgb(116, 193, 238);
  border-top-color: rgb(73, 136, 172);
}

section .chess-bottom {
  background-image: linear-gradient(rgba(23, 45, 77, 1), rgba(23, 45, 77, 0.7));
  border: 1px solid rgb(116, 193, 238);
  border-top-color: rgb(73, 136, 172);
}

section .sfsafe-top {
  background-image: linear-gradient(rgb(52, 81, 126), rgb(52, 81, 126));
  border-left-color: rgb(225, 219, 250);
  border-right-color: rgb(225, 219, 250);
  border-top-color: rgb(225, 219, 250);
}

section .sfsafe-bottom {
  background-image: linear-gradient(
    rgba(52, 81, 126, 1),
    rgba(52, 81, 126, 0.7)
  );
  border: 1px solid rgb(225, 219, 250);
  border-top-color: rgb(225, 219, 250);
}

section .forms-top {
  background-image: linear-gradient(rgb(64, 79, 126), rgb(64, 79, 126));
  border-left-color: rgb(250, 233, 219);
  border-right-color: rgb(250, 233, 219);
  border-top-color: rgb(250, 233, 219);
}

section .forms-bottom {
  background-image: linear-gradient(rgb(64, 79, 126), rgb(64, 79, 126));
  border: 1px solid rgb(250, 233, 219);
  border-top-color: rgb(250, 233, 219);
}

section .header {
  height: 100%;
  font-size: 6rem;
  font-style: normal;
  height: fit-content;
}

section .header-content {
  padding: 5rem;
  height: 23.3rem;
}

section .chess-header {
  /* padding-top: 3.2rem; */
  background-image: linear-gradient(
      rgba(24, 45, 80, 0.85),
      rgba(24, 45, 80, 0.85)
    ),
    url('./assets/Lobby.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 3px 3px 18px rgb(54, 41, 54, 0.7);
  border: solid rgb(116, 193, 238);
  border-width: 1px 1px 0px 1px;
  width: 100%;
}

section .safesf-header {
  height: 23.7rem;
  width: 100%;
  background-image: linear-gradient(
      rgba(17, 69, 109, 0.85),
      rgba(20, 60, 121, 0.85)
    ),
    url('./assets/SafeSF.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 3px 3px 18px rgb(54, 41, 54, 0.7);
  /* border: 1px solid rgb(116, 193, 238); */
  border: solid rgb(225, 219, 250);
  border-width: 1px 1px 0 1px;
}

section .forms-header {
  height: 24rem;
  width: 100%;
  background-image: linear-gradient(
      /* rgba(85, 79, 109, 0.8),  */ rgba(19, 49, 104, 0.8),
      rgba(15, 36, 104, 0.8) /* rgba(60, 70, 60, 0.8) */
    ),
    url('./assets/Forms.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 3px 3px 18px rgb(54, 41, 54, 0.7);
  border: solid rgb(250, 233, 219);
  border-width: 1px 1px 0 1px;
}

section a {
  margin: 0px 0.5rem !important;
  color: white;
  font-size: 4.5rem;
  -webkit-text-stroke: 1px #696969;
}

section .chess-header a:hover {
  margin: 0 0.5rem;
  /* color: #5fc3ee; */
  color: rgb(116, 193, 238);
  text-decoration: none;
  -webkit-text-stroke: 0px;
}

section .safesf-header a:hover {
  margin: 0 0.5rem;
  color: rgb(116, 193, 238);
  text-decoration: none;
  -webkit-text-stroke: 0px;
}

section .forms-header a:hover {
  margin: 0 0.5rem;
  color: rgb(226, 144, 81);
  text-decoration: none;
  -webkit-text-stroke: 0px;
}

section#home {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.06) 0px,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.06) 0px,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, #00072d, #00072d);
  align-items: flex-start;
  text-align: left;
  padding: 0rem !important;
}

section#home2 {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.09) 0px,
      rgba(255, 255, 255, 0.09) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.09) 0px,
      rgba(255, 255, 255, 0.09) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, #00072d, hsl(219, 97%, 17%));
}

section#chess {
  padding: 3.2rem 9.5rem;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14) 0px,
      rgba(255, 255, 255, 0.14) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.14) 0px,
      rgba(255, 255, 255, 0.14) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(219, 97%, 17%), hsl(206, 87%, 54%));
}

section#chess2 {
  padding: 0 9.5rem;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(206, 87%, 54%), hsl(206, 87%, 54%));
}

section#chess hr {
  background-color: rgb(73, 136, 172);
}

section#chess2 hr {
  background-color: rgb(73, 136, 172);
}

section#sfsafe {
  padding: 3.2rem 9.5rem;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(206, 87%, 54%), hsl(206, 87%, 54%));
}

section#sfsafe2 {
  padding: 0 9.5rem;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    /* linear-gradient(180deg, hsl(206, 87%, 54%), hsl(195, 73%, 36%)); */
      linear-gradient(180deg, hsl(206, 87%, 54%), hsl(226, 75%, 57%));
}

section#sfsafe hr {
  background-color: rgb(225, 219, 250);
}

section#sfsafe2 hr {
  background-color: rgb(225, 219, 250);
}

section#forms {
  padding: 3.2rem 9.5rem;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(226, 75%, 57%), hsl(226, 75%, 57%));
}

section#forms2 {
  padding: 0 9.5rem;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(226, 75%, 57%), hsl(226, 75%, 57%));
}

section#forms hr {
  background-color: rgb(250, 233, 219);
}

section#forms2 hr {
  background-color: rgb(250, 233, 219);
}

.stars {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* display: block; */
}

.stars {
  background: url(https://www.script-tutorials.com/demos/360/images/stars.png)
    repeat center;
  z-index: 0;
  padding: 12rem 6rem !important;
}

/* color pallete: */
/* https://coolors.co/093f7c-028090-e4fde1-456990-ffd600 */
