@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: white;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

.leftSidebar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: #f6f6f6;
  margin: auto;
  height: 100%;
  /* text-align: center; */
  padding: 2rem 0;
  /* background: #000000; */
  background-color: #00072d;
  /* background: linear-gradient(45deg, #000000, #152331); */
  flex: 1;
  /* border: 1px solid #585858; */
  padding: 2rem 1rem;
}

.leftSidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.leftSidebar ul li {
  padding: 1rem;
}

.leftSidebar ul li a {
  text-decoration: none;
}

.leftSidebar ul li a:hover {
  color: coral;
}

.item {
  flex: 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a6e1fa;
  height: 100%;
  margin: auto;
}

.projects {
  flex: 3;
  color: #0e6ba8;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a6e1fa;
  height: 100%;
  margin: auto;
}

.media-container {
  flex: 1;
  color: #0e6ba8;
  display: flex;
  /* text-align: center; */
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: right;
  color: #a6e1fa;
  height: 100%;
  width: 100%;
  margin: auto;
  /* padding: 0 1.5rem; */
}

.media {
  flex: 1;
  color: #0e6ba8;
  display: flex;
  /* text-align: center; */
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: center;
  color: #a6e1fa;
  /* width: 100%; */
  margin: auto;
}

.picture {
  border-radius: 50%;
  width: 11rem;
  flex: 3;
}

.mainContent {
  /* display: flex; */
  height: 100%;
  margin-left: 14.2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 4;
  /* border: 1px solid #585858; */
  color: white;
  /* background-color: #0a2472; */
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(90deg, hsl(219, 97%, 17%), hsl(219, 97%, 17%));
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-align: top; */
}

section {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 5.2rem;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5;
}

section#home {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, #00072d, #00072d);
  align-items: flex-start;
  text-align: left;
  padding: 12rem 8rem !important;
}

section#home2 {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, #00072d, hsl(219, 97%, 17%));
}

section#chess {
  /* background-color: cornflowerblue; */
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(219, 97%, 17%), hsl(206, 87%, 54%));
}

section#chess2 {
  /* background-color: cornflowerblue; */
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, hsl(206, 87%, 54%), rgb(44, 175, 169));
}

section#sfsafe {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, rgb(44, 175, 169), rgb(44, 175, 169));
}

section#sfsafe2 {
  /* background-color: cornflowerblue; */
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, rgb(44, 175, 169), rgb(192, 53, 45));
}

section#forms {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.16) 0px,
      rgba(255, 255, 255, 0.16) 1px,
      transparent 1px,
      transparent 26px
    ),
    linear-gradient(180deg, rgb(192, 53, 45), rgb(192, 53, 45));
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* display: block; */
}

.stars {
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    repeat center;
  z-index: 0;
}

/* color pallete: */
/* https://coolors.co/093f7c-028090-e4fde1-456990-ffd600 */
